:root {
  --bg-color: white;
  /* Цвет фона сайта */
  --text-color: rgb(17, 17, 17);
  /* Цвет текста */
}

.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1.5px solid rgb(17, 17, 17);
  border-radius: 0px 0px 8px 8px;
  background: var(--bg-color);
  color: var(--text-color);
  left: 0;
  top: 0;
  position: sticky;
  z-index: 100;
}

.icon-logo {
  stroke: black;
  margin-right: 20px;
}

.x-close {
  stroke: black;
}

.logo-dark {
  margin-left: 23px;
}

.dark-theme .icon-logo {
  stroke: white;
}

.dark-theme .x-close {
  stroke: white;
}

.dark-theme .icon-cart {
  stroke: white;
  fill: white;
}

.dark-theme .icon-cart.active {
  stroke: white;
  fill: white;
}


.dark-theme .header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1.5px solid white;
  border-radius: 0px 0px 8px 8px;
  background: var(--bg-color);
  color: var(--text-color);
  left: 0;
  top: 0;
  position: sticky;
  z-index: 100;
}

.bookshelf {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 76px;
}

.name-header {
  padding: 3px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.switch-container {
  margin-right: 10px;
  order: 2;
  gap: 17.5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch-container,
.name-header {
  display: flex;
  align-items: center;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180.00deg, rgb(79, 46, 232), rgb(220, 220, 220) 100%);
  transition: .4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  top: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180.00deg, rgb(79, 46, 232), rgb(104, 104, 104) 100%);
}

input:checked+.slider:before {
  transform: translateX(20px);
}

.icon-cart {
  display: inline-block;
  width: 1em;
  height: 1em;
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  margin-right: 7px;
  stroke: black;
}

.backdrop-icon-cart {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: white;
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  margin-right: 7px;
}

.nav-link.button {
  gap: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop-nav-link.button {
  gap: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-theme {
  --bg-color: rgb(17, 17, 17);
  /* Цвет фона сайта при включенной темной теме */
  --text-color: white;
  /* Цвет текста при включенной темной теме */
}

.nav-links {
  display: none;
}

.backdrop-nav-links {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 200px;
}

.backdrop-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  background: transparent;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  gap: 7px;
  margin-bottom: 17px;
}

.backdrop-nav-link.button {
  background: rgb(234, 198, 69);
  color: black;
  font-weight: 700;
  padding: 8px 12px;
}

@media (min-width: 768px) {
  .header {
    width: 100%;
  }

  .nav-links {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    flex: auto;
  }



  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 140px;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 36px;
    background: transparent;
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
    gap: 7px;
  }



  .icon-logo {
    display: none;
  }

  .nav-link.button {
    background: rgb(234, 198, 69);
    /* Фон кнопки Home */
    color: black;
    /* Цвет текста кнопки Home */
  }

}

/* Стили для бекдропа */
#backdrop {
  display: none;
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: radial-gradient(191.37% 191.09% at 60% -23%, rgb(79, 46, 232) 18.027%, rgb(255, 255, 255) 100%);
}

.background-image {
  width: 450px;
  height: 439px;
  position: absolute;
  bottom: 57px;
  background-image: url('../img/group-6.png');
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .background-image {
    background-image: url(../img/group-6-1.png);
  }
}

.icon-logo,
.x-close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.icon-logo {
  left: 10px;

}

.x-close {
  right: 10px;
  display: none;

}

.burger {
  position: relative;
  width: 44px;
  height: 24px;

}

.scrollUpButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(79, 46, 232);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 5px solid rgba(184, 168, 255, 0.969);
  cursor: pointer;
  z-index: 100;
}